#navbar{
    flex-direction: column;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    height: 80px;
}

#training .items{
    flex-direction: column;
}

#training .items .item{
    width: 100%;
}

#biography .experiences .experience{
    flex-direction: column;
}
